<div class="row">
  <app-key [key]="'a'"></app-key>
  <app-key [key]="'z'"></app-key>
  <app-key [key]="'e'"></app-key>
  <app-key [key]="'r'"></app-key>
  <app-key [key]="'t'"></app-key>
  <app-key [key]="'y'"></app-key>
  <app-key [key]="'u'"></app-key>
  <app-key [key]="'i'"></app-key>
  <app-key [key]="'o'"></app-key>
  <app-key [key]="'p'"></app-key>
</div>
<div class="row">
  <app-key [key]="'q'"></app-key>
  <app-key [key]="'s'"></app-key>
  <app-key [key]="'d'"></app-key>
  <app-key [key]="'f'"></app-key>
  <app-key [key]="'g'"></app-key>
  <app-key [key]="'h'"></app-key>
  <app-key [key]="'j'"></app-key>
  <app-key [key]="'k'"></app-key>
  <app-key [key]="'l'"></app-key>
  <app-key [key]="'m'"></app-key>
</div>
<div class="row">
  <app-key [key]="'ENTER'"></app-key>
  <app-key [key]="'w'"></app-key>
  <app-key [key]="'x'"></app-key>
  <app-key [key]="'c'"></app-key>
  <app-key [key]="'v'"></app-key>
  <app-key [key]="'b'"></app-key>
  <app-key [key]="'n'"></app-key>
  <app-key [key]="'DEL'"></app-key>
</div>

