.key {
  display: inline-flex;
  color: ghostwhite;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 5px;
  margin: 3px;
  min-width: 35px;
  min-height: 50px;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}
